@import 'tailwindcss';

:root {
  background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
  --foreground: #000000;
}

:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-nunito-sans);
  --font-mono: var(--font-fira-code);
}

@media (prefers-color-scheme: dark) {
  :root {
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    --foreground: #fafaf9;
  }
}

html,
body {
  min-height: 100vh;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-nunito-sans), sans-serif;
}

code {
  font-family: var(--font-fira-code), monospace;
}

.btn {
  display: inline-block;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-width: 1px;
  border-style: solid;
  border-color: #000;
  color: #000;
  border-radius: 0.25rem;
  transition: all 0.3s;
  background-color: transparent;
}

.btn:hover {
  background-color: #000;
  color: #fff;
}

@media (prefers-color-scheme: dark) {
  .btn {
    border-color: #fff;
    color: #fff;
  }

  .btn:hover {
    background-color: #fff;
    color: #000;
  }
}

.glass {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid #000;
  border-radius: 0.5rem;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  padding: 0.25rem 0.75rem;
  margin: 0.25rem;
  transition: all 0.3s ease;
}

@media (prefers-color-scheme: dark) {
  .glass {
    background-color: rgba(0, 0, 0, 0.1);
    border-color: #fff;
  }
}

.skill {
  font-family: var(--font-fira-code), monospace;
}
